.singerList-ul{
	margin-left: -50px;
	list-style-type: none;
}

.singerList-ul li{
	width: 100%;
}

.singerImg-box{
	width: 250px;
	height: 250px;
	border-radius: 126px;
	overflow: hidden;
	position:absolute;
	left:0px;
}

.singer-details{
	width: 100%;
	margin-top: 10px;
}

.songName-h1{
	padding-left:35px;
}

.songSketch-div{
	width:300px;
}

.songSketch-ul{
	list-style-type: none;
	padding: 20px;
}

.songSketch-li{
	float:left;
	margin:20px;
}

.lyricsText{
	width:100%;
	height:1000px;
	border:0px;
	background-color:white;
	line-height:40px;
}

.commentsText{
	padding:10px;
	width:100%;
	height:100px;
	background-color:#F5F5F5;
	border:solid 1px #ececec;
	border-radius:5px;
}

.prompt-div{
	float:right;
	text-align:right;
}

.otherComments-div{
	width:100%;
	position:relative;
	padding:20px;
	padding-left:70px;
	border-top:1px solid #ededed;
}

.userAvatar-box{
	width: 50px;
	height: 50px;
	border-radius: 126px;
	overflow: hidden;
	position:absolute;
	left:0px;
}

.otherComments-text{
	width: 100%;
	height: 100px;
	background-color: white;
	border:0px;
	margin-top: 10px;
	overflow:hidden;
}

/**提示框**/
.promptBox-background{
	position:fixed;
	z-index:9998;
	top:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.2);
	display:none;
}

.promptBox{
	width:520px;
	margin:auto;
	padding:10px;
	margin-top:10%;
	background-color:white;
	border:1px solid #bfbfbf;
	box-shadow:0 0 10px rgba(0,0,0,.3);
}

.promptBox-title{
	position:relative;
	padding:10px;
	text-align:center;
	border-bottom:1px solid gainsboro;
}

.promptBox-close{
	position:absolute;
	right:10px;
}

.promptBox-text{
	padding:40px;
	font-size:14px;
}

/****/

/**分页组件**/

.fanye {
    height: 60px;
}

.holder {
    margin: 15px 0;
}

.holder span {
    display: block;
    width: 28px;
    height: 32x;
    line-height: 32px;
    text-align: center;
    float: left;
    font-size: 14px;
    margin: 0 5px;
}

.holder a {
    overflow: hidden;
    display: block;
    float: left;
    padding: 0 17px;
    height: 32px;
    line-height: 32px;
    margin: 0 3px;
    vertical-align: middle;
    border: 1px solid #DCDCDC;
    color: #707070;
    cursor: pointer;
}

.holder a:hover {
    background-color: #8fc320;
    color: #FFF;
    text-decoration: none;
}

.holder a.jp-previous {
    margin-left: 0;
    margin-right: 15px;
}

.holder a.jp-next {
    margin-left: 15px;
    margin-right: 0;
}

.holder a.jp-current,
a.jp-current:hover {
    background-color: #8fc320;
    color: #FFF;
    border-color: #8fc320;
    font-weight: bold;
}

.holder a.jp-disabled,
a.jp-disabled:hover {
    background-color: #F6F6F6;
    color: #D6D6D6;
    cursor: default;
}

.holder a.jp-current,
a.jp-current:hover {
    background-color: none;
}

/****/