body{
	margin: 0;
	background: url(../img/indexBG.jpg) no-repeat;
	background-size: 100% 100%;
}

#top{
	height: 100px;
	line-height: 100px;
	margin-top: 50px;
	padding: 0px;
}

#logo-img{
	color: darkgoldenrod;
	font-size: 50px;
}

#sytemName{
	font-size: 24px;
	color: white;
	margin-left: 10px;
}

#top-navigation{
	width: 400px;
	height: 100%;
	float: right;
}

.top-navigation-a{
	color: powderblue;
	font-weight: bold;
	font-size: 24px;
	float:right;
}

.top-navigation-p{
	color: powderblue;
	font-weight: bold;
	font-size: 24px;
	display: inline;
}

#top-navigation-name{
	width: 180px;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	float: left;
	
}

.avatar-div-div a{
	font-size: 16px;
	margin-left: 15px;
}

.avatar-div{
	float: right;
	margin-right: 50px;
	position: relative;
}

#avatar{
	padding: 0px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.avatar-div-div{
	padding-top: 20px;
	line-height: 30px;
	text-align: center;
	width: 80px;
	height: 150px;
	background-color: white;
	position: absolute;
	top: 86px;
	left: -12px;
	z-index:100;
	border: 1px solid white;
	border-radius: 20%;
	display: none;
}

.avatar-div-div:before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent; /*调整小三角形的大小*/
    border-bottom-color: white;/*改变小三角的颜色（最好就是和父级div的背景颜色相同）;bottom是用于调整小三角的方向*/
    position: absolute;
    left: 28px;/*调整小三角形的位置*/
    bottom: 100%;/*调整小三角形的位置*/
    margin-top: 20px;/*调整小三角形的位置*/
    
}

.userName{
	width: 64px;
	font-size: 15px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
}

#center{
	background-color: aliceblue;
	padding: 20px;
	margin-top: 30px;
	opacity: 0.95;
	border: 1px solid aliceblue;
	border-radius: 5% 5% 10% 10%;
}

#search{
	width: 100%;
	background-color: wheat;
	padding: 10px;
	border: 1px solid wheat;
	border-radius: 10% 10% 10% 10%;
	float: left;
}

.search-ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	margin-top: 15px;
}

.search-ul li{
	margin-left: 10px;
	display: inline;
}

.search-ul a{
	color: #797979;
}

.address-ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	margin-top: 15px;
}

.address-ul-li{
	padding-top: 6px;
	font-weight: bold;
	margin-left: 10px;
	float: left;
}

.search-box-ul{
	float: right;
	margin-top: 50px;
}

.search-input{
	width: 200px;
	height: 38px;
	border: 1px solid white;
	border-radius: 5px;
	outline: none;
	padding: 10px;
}

#housing-context{
	width: 100%;
	float: left;
	margin-top: 10px;
}

.housing-ul{
	list-style: none;
	margin: 0px;
	padding: 20px;
}

.housing-ul li{
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

.housing-div-img{
	width: 20%;
	float: left;
}

.housing-class-img{
	width: 100%;
	height: 150px;
	float: left;
}

.housing-div-left{
	width: 50%;
	padding: 15px;
	padding-left: 30px;
	float: left;
}

.housing-div-left-p{
	max-width: 500px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	display: block;
}

.housing-div-left-div1{
	padding-top: 15px;
}

.housing-div-left-div1-p{
	margin-left: 15px;
	display: inline;
}

.housing-div-left-div2{
	padding-top: 15px;
}

.housing-div-right{
	width: 30%;
	padding: 50px;
	font-size: 18px;
	color: red;
	text-align: center;
	float: left;
}

.housing-div-operation{
	width: 15%;
	height: 150px;
	line-height: 150px;
	font-size: 18px;
	color: black;
	text-align: center;
	float: left;
}

.release-div{
	padding: 20px;
	padding-right: 60px;
	text-align: right;
	border-bottom: 1px dashed gray;
}